flujos r2/flows (7).json
[
    {
        "id": "a0928655b950d1c1",
        "type": "tab",
        "label": "Potencia sin Math",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c6e1f6b98545c33",
        "type": "ui_text_input",
        "z": "a0928655b950d1c1",
        "name": "",
        "label": "Número Base",
        "tooltip": "",
        "group": "5a7d31b4.97332",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "ecfa3616e04daeba"
            ]
        ]
    },
    {
        "id": "ecfa3616e04daeba",
        "type": "ui_text_input",
        "z": "a0928655b950d1c1",
        "name": "",
        "label": "Exponente",
        "tooltip": "",
        "group": "5a7d31b4.97332",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "72bf5900690bee78"
            ]
        ]
    },
    {
        "id": "72bf5900690bee78",
        "type": "function",
        "z": "a0928655b950d1c1",
        "name": "Calcular Potencia",
        "func": "var base = parseFloat(msg.payload);\nvar exponente = parseFloat(flow.get('exponente'));\n\nvar resultado = 1;\n\nif (!isNaN(base) && !isNaN(exponente)) {\n    for (var i = 0; i < exponente; i++) {\n        resultado *= base;\n    }\n    msg.payload = resultado;\n} else {\n    msg.payload = \"Por favor, ingrese números válidos.\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "834e83622676ac07"
            ]
        ]
    },
    {
        "id": "834e83622676ac07",
        "type": "ui_text",
        "z": "a0928655b950d1c1",
        "group": "5a7d31b4.97332",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Resultado de la Potencia:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "5a7d31b4.97332",
        "type": "ui_group",
        "name": "Ingreso de Números",
        "tab": "a35f4b690d65901d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a35f4b690d65901d",
        "type": "ui_tab",
        "name": "Inicio",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]