flujos r2/flows (7 (2).json
[
    {
        "id": "172e242c4c614599",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d070d6a93bd55d9b",
        "type": "postgresql",
        "z": "172e242c4c614599",
        "name": "",
        "query": "SELECT * FROM sensor_details;",
        "postgreSQLConfig": "9277f660ec41eacb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "5a0ba594b8ab6d2c"
            ]
        ]
    },
    {
        "id": "3a1f606260fbd352",
        "type": "inject",
        "z": "172e242c4c614599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "d070d6a93bd55d9b"
            ]
        ]
    },
    {
        "id": "5a0ba594b8ab6d2c",
        "type": "ui_table",
        "z": "172e242c4c614599",
        "group": "d46fc82c23d835c1",
        "name": "",
        "order": 1,
        "width": 12,
        "height": 6,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "32221235a51929fa",
        "type": "postgresql",
        "z": "172e242c4c614599",
        "name": "",
        "query": "SELECT * FROM sensor_details;",
        "postgreSQLConfig": "9277f660ec41eacb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "d54ca93a29f324e7"
            ]
        ]
    },
    {
        "id": "039e58d66d8827a5",
        "type": "inject",
        "z": "172e242c4c614599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "32221235a51929fa"
            ]
        ]
    },
    {
        "id": "d54ca93a29f324e7",
        "type": "ui_chart",
        "z": "172e242c4c614599",
        "name": "",
        "group": "2843cd330d9a7fef",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9277f660ec41eacb",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "d46fc82c23d835c1",
        "type": "ui_group",
        "name": "Tabla",
        "tab": "888177cfc722b47b",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2843cd330d9a7fef",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "888177cfc722b47b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "888177cfc722b47b",
        "type": "ui_tab",
        "name": "Proyecto",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]